.noTask{
    margin: 24px;
    padding: 4px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(157, 173, 185);
    margin-right: 80%;
}

.taskList--wrapper{
    
}