.header--wrapper{
    display: grid;
}

.header__line{
    background-color: rgb(31, 34, 58);
    color: aliceblue;
}

.header__logo{
    font-family: 'Yanone Kaffeesatz';
    font-size: 24px;
    padding: 24px;
    cursor: pointer;
}

.header__nav li{
    display: inline;
    cursor: pointer;
}
