.completed__task--wrapper{
    background: #576E86;
    color: rgb(31, 34, 58);
    margin: 12px 24px 12px 24px;
    padding: 4px;
    max-width: 624px;
    /* border: 1px solid  aliceblue; */
    border-radius: 5px;
}

.completed__task--name{
    margin: 3px 12px;
    padding: 4px;
    max-width: 625px;
    font-weight: bold;
    font-size: 17px;
}

.completed__task--description{
    margin: 2px 12px;
    padding: 4px;
    max-width: 625px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.completed__task--clear{
    font-size: 20px;
    float: right;
    cursor: pointer;
    margin: 2px 4px;
}